$icon-svg-width: 1.5rem !default;
$icon-svg-height: 1.5rem !default;

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  cursor: inherit;
  &.is-small{
    height: 1rem;
    width: 1rem;
  }
  &.is-medium{
    height: 2rem;
    width: 2rem;
  }
  &.is-large{
    height: 3rem;
    width: 3rem;
  }
  svg {
    background-color: transparent;
    fill: currentColor;
    stroke-width: 0;
    stroke: currentColor;
    pointer-events: none;
    width: $icon-svg-width;
    height: $icon-svg-height;
  }
}
