@import "../../node_modules/bootstrap-scss/bootstrap";
@import "variables";
@import "reboot";
@import "main_sidebar";
@import "button";
@import "checkbox";
@import "radio";
@import "notices";
@import "notification";
//@import "form";
@import "function";



main {
  padding: 15px 0.5rem;
}

.hide{
  display: none;
}

a {
  cursor: pointer;
}
