@import "../../node_modules/bootstrap-scss/bootstrap";
@import "variables";
@import "reboot";
@import "main_sidebar";
@import "button";
//@import "card";
//@import "form";
main {
  padding: 15px 0.5rem;
  overflow: scroll;
}

.hide{
  display: none;
}

a {
  cursor: pointer;
}
